@import '../../assets/styles/vars';
@import '../../assets/styles/mixins';

.container{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;

    max-width: 1184px;

    @include tablet{
        display: flex;
        align-items: flex-end;
        gap: 20px;
    }
}

.text{
    color: $textColor;
    
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.11;
}

.label{
    margin-bottom: 8px;

    color: $thirdTextColor;
    
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.28;
}

.blockLanguages{
    width: 221px;
}

.blockLevels{
    width: 198px;
}

.blockPrice{
    width: 124px;
}

.blockBtn{
    margin-left: auto;
    margin-right: 10px;
    margin-top: 10px;

    .btn{
        height: 38px;
        padding: 0 10px;


        border: none;
        border-radius: 10px;
        background-color: $colorYellow;

        color: $textColor;
        
        font-family: 'Roboto';
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.11;

        cursor: pointer;

        &.Yellow {
            background-color: $colorYellow;
        }
    
        &.Green {
            background-color: $colorGreen;
        }
    
        &.Blue {
            background-color: $colorBlue;
        }
    
        &.Pink {
            background-color: $colorPink;
        }
    
        &.Coral {
            background-color: $colorCoral;
        }
    
        &:hover {
            background-color: $hoverColorYellow;
            &.Yellow {
                background-color: $hoverColorYellow;
            }
    
            &.Green {
                background-color: $hoverColorGreen;
            }
    
            &.Blue {
                background-color: $hoverColorblue;
            }
    
            &.Pink {
                background-color: $hoverColorPink;
            }
    
            &.Coral {
                background-color: $hoverColorCoral;
            }
        }

        @include tablet {
            margin-right: 10px;
        }
    }
}