@import '../../assets/styles/vars';
//
.mainList{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    margin-left: auto;
    margin-right: auto;
    // margin-bottom: 64px;
}

.mainListItem{
    display: flex;
    gap: 48px;
    padding: 24px;
    width: 100%;
    max-width: 1184px;

    background-color: #fff;
    border-radius: 24px;
}

.text{
    color: $textColor;

    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
}

.container{
    width: 100%;
}

.blockAvatar{
    position: relative;
}

.iconDot{
    position: absolute;

    top: 19px;
    right: 23px;
}

.avatar{
    border-radius: 50%;
    padding: 12px;

    border: 3px solid $hoverColorYellow;

    &.Yellow {
        border-color: $hoverColorYellow;
    }

    &.Green {
        border-color: $hoverColorGreen;
    }

    &.Blue {
        border-color: $hoverColorblue;
    }

    &.Pink {
        border-color: $hoverColorPink;
    }

    &.Coral {
        border-color: $hoverColorCoral;
    }
}

.topBlock{
    display: flex;
    margin-bottom: 8px;
}

.textLanguages{
    margin-right: auto;

    color: $thirdTextColor;
}

.topList {
    display: flex;
    align-items: center;
    gap: 32px;

    margin-right: 64px;

    .item {
        display: flex;
        align-items: center;
    }

    .item:not(:last-child)::after{
        content: '';
        border-radius: 1px rgba(18, 20, 23, 0.20);
        background-color: rgba(18, 20, 23, 0.20);
        height: 16px;
        width: 1px;
        margin-left: 16px;
    }
}

.iconBook{
    margin-right: 8px;
}

.iconStar{
    margin-right: 8px;
    fill: $starColro;
}

.iconHeart{
    cursor: pointer;
    fill: transparent;
    stroke: $textColor;

    &:hover{
        fill: $starColro;
        stroke: none;
    }
}
.iconHeartUse{
    fill: $starColro;
    cursor: pointer;
    stroke: none;
}

.money{
    color: $moneyColor;
}

.nameSurname{
    font-size: 24px;
    line-height: 1;

    margin-bottom: 32px;
}

.informationList {
    display: flex;
    flex-direction: column;
    gap: 8px;

    margin-bottom: 16px;

    .item{
        color: $thirdTextColor;

        .textLanguages {
            color: $textColor;
            text-decoration-line: underline;
        }
    }
}

.btn {
    background-color: transparent;
    border: none;
    margin-bottom: 32px;
    padding: 0;
    cursor: pointer;

    text-decoration-line: underline;
}

.levelsList{
    display: flex;
    gap: 8px;

    .item{
        padding: 8px 12px;

        border-radius: 35px;
        border: 1px solid rgba(18, 20, 23, 0.20);

        font-size: 14px;
        line-height: 1.14;
    }

    .found {
        background-color: $colorYellow;
        border: transparent;

        &.Yellow {
            background-color: $colorYellow ;
        }

        &.Green {
            background-color: $colorGreen;
        }

        &.Blue {
            background-color: $colorBlue;
        }

        &.Pink {
            background-color: $colorPink;
        }

        &.Coral {
            background-color: $colorCoral;
        }
    }
}

.textExperience{
    font-weight: 400;

    margin-bottom: 32px;
}

.iconUser {
    fill: black;
    padding: 4px;
    background-color:  #c5c5c5;
    border-radius: 50%;
}

.commentList{
    display: flex;
    flex-direction: column;
    gap: 32px;

    margin-bottom: 32px;

    .container{
        display: flex;
        gap: 12px;
        margin-bottom: 16px;
    }

    .name{
        color: $thirdTextColor;
        margin-bottom: 2px;
    }

    .blockRating{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 8px;
    }
    .textRating{
        color: $textColor;

        font-family: 'Roboto';
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.28;
    }
}

.btnTrail{
    display: flex;
    padding: 16px 48px;
    margin-top: 32px;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    border: none;
    border-radius: 12px;
    background: $colorYellow;

    color: $textColor;

    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.55;

    &.Yellow {
        background-color: $colorYellow;
    }

    &.Green {
        background-color: $colorGreen;
    }

    &.Blue {
        background-color: $colorBlue;
    }

    &.Pink {
        background-color: $colorPink;
    }

    &.Coral {
        background-color: $colorCoral;
    }

    &:hover {
        &.Yellow {
            background-color: $hoverColorYellow;
        }

        &.Green {
            background-color: $hoverColorGreen;
        }

        &.Blue {
            background-color: $hoverColorblue;
        }

        &.Pink {
            background-color: $hoverColorPink;
        }

        &.Coral {
            background-color: $hoverColorCoral;
        }
    }
}

.btnLoadMore{
    display: flex;
    padding: 16px 48px;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;

    border-radius: 12px;
    background: $colorYellow;
    border: none;

    color: $textColor;

    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.55;

    &.Yellow {
        background-color: $colorYellow;
    }

    &.Green {
        background-color: $colorGreen;
    }

    &.Blue {
        background-color: $colorBlue;
    }

    &.Pink {
        background-color: $colorPink;
    }

    &.Coral {
        background-color: $colorCoral;
    }

    &:hover {
        &.Yellow {
            background-color: $hoverColorYellow;
        }

        &.Green {
            background-color: $hoverColorGreen;
        }

        &.Blue {
            background-color: $hoverColorblue;
        }

        &.Pink {
            background-color: $hoverColorPink;
        }

        &.Coral {
            background-color: $hoverColorCoral;
        }
    }
}

.blockErrorImg{
    display: flex;
    justify-content: center;

    position: relative;

    .img{
        border-radius: 24px;
    }

    .text{
        position: absolute;
        top: 5%;

        font-size: 32px;
        font-style: italic;
        font-weight: 700;
    }
}