@import '../../assets/styles/vars';
@import '../../assets/styles/mixins';

.header{
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    max-width: 1182px;

    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
    justify-content: center;

    @include tablet{
        justify-content: space-between;
    }
}

.blockLogo{
    display: flex;
    gap: 8px;
    align-items: center;

    .textLogo{
        color: $textColor;

        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: -0.4px;
        
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.navigate{
    display: flex;
    gap: 28px;

    .btn{
        border: none;
        background-color: transparent;
        padding: 0;
        cursor: pointer;
        
    }
    .link{
        &:hover{
            color: #8A8A89;
        }
    }
}

.text{
    color: $textColor;

    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25;
}
.users{
    display: flex;
    gap: 16px;
}
.logIn{
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;

    height: 48px;
    padding: 0;
    border: none;
    background-color: transparent;
    
    &:hover .text {
        color: #8A8A89;
    }
    
}
.logIn .text{
    font-weight: 700;
}
.iconLogIn{
    stroke: $colorYellow;

    &.Yellow {
        stroke: $colorYellow;
    }

    &.Green {
        stroke: $colorGreen;
    }

    &.Blue {
        stroke: $colorBlue;
    }

    &.Pink {
        stroke: $colorPink;
    }

    &.Coral {
        stroke: $colorCoral;
    }
}
.iconLogOut{
    fill: $colorYellow;

    &.Yellow {
        fill: $colorYellow;
    }

    &.Green {
        fill: $colorGreen;
    }

    &.Blue {
        fill: $colorBlue;
    }

    &.Pink {
        fill: $colorPink;
    }

    &.Coral {
        fill: $colorCoral;
    }
}

.textGL{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 157px;
    background-color: $colorYellow;
    border-radius: 12px;
    font-weight: 700;

    &.Yellow {
        background-color: $colorYellow;
    }

    &.Green {
        background-color: $colorGreen;
    }

    &.Blue {
        background-color: $colorBlue;
    }

    &.Pink {
        background-color: $colorPink;
    }

    &.Coral {
        background-color: $colorCoral;
    }
}

.register{
    cursor: pointer;
    padding: 14px 39px;
    border-width: 0;
    border-radius: 12px;
    background: $textColor;
    &:hover{
        background-color: #292929;
    }
}

.register .text{
    font-weight: 700;
    color: #fff;
}

