@import '../../assets/styles/vars';

.container{
    max-width: 1312px;
    margin-left: auto;
    margin-right: auto;

    border-radius: 30px;
    border: 3px dashed $colorYellow;

    &.Yellow {
        border-color: $colorYellow;
    }

    &.Green {
        border-color: $colorGreen;
    }

    &.Blue {
        border-color: $colorBlue;
    }

    &.Pink {
        border-color: $colorPink;
    }

    &.Coral {
        border-color: $colorCoral;
    }
}
.list{
    padding: 40px 123px;

    display: flex;
    justify-content: space-between;
}
.item{
    display: flex;
    align-items: center;
    gap: 16px;
}
.number{
    $textColor: $textColor;
    
    font-family: 'Roboto';
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.56px;
}
.text{
    color: $secondTextColor;
    
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.28px;
}