$colorYellow: #F4C550;
$hoverColorYellow: #FBE9BA;
$colorGreen: #9FBAAE;
$hoverColorGreen: #CBDED3;
$colorBlue: #9FB7CE;
$hoverColorblue: #BFD6EA;
$colorPink: #E0A39A;
$hoverColorPink: #F2C0BD;
$colorCoral: #F0AA8D;
$hoverColorCoral: #F4C8BA;
$errorColor: rgba(255, 0, 0, 0.527);
$textColor: #121417;
$secondTextColor: rgba(18, 20, 23, 0.80);
$thirdTextColor: #8A8A89;
$moneyColor: #38CD3E;
$starColro: #FFC531;
$bgHeroColorContainer: #F8F8F8;
$bgTrailColorContainer: rgba(94, 99, 99, 0.521)
